name: on-release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: latest-release
          persist-credentials: false
          fetch-depth: 0
      - name: Configure git
        run: |
          git config --local user.email "noreply@github.com"
          git config --local user.name "GitHub"
      - name: Fast forward
        run: |
          echo "the tag is ${{ github.ref_name }}"
          git merge --ff-only ${{ github.ref_name }}
      - name: Push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: latest-release
